body {
	
	background-color: #ECF0F5
}
legend {
	padding-left: 8px;
	margin-bottom: 5px;
    font-size: 18px;
}
.content {
	padding: 5px 10px;
}
.navbar-form .form-control {
    border-radius: 3px;
    width: 500px;
}
.container-fluid {
	padding: 0px 10px;
}
.table-striped>tbody>tr:nth-of-type(odd){
   background-color:#E4E7EC;
}
.col-lg-4, .col-sm-4 {
	padding-left: 10px;
	padding-right: 10px;
}
.col-md-4, .col-sm-4 {
	padding-left: 0px;
}
.input-sm {
	font-size: 18px;
	padding: 0px 0px 0px 4px;
}
.box {
	border-top: 0px;
	margin-bottom: 10px;
}
.form-group {
	margin-bottom: 5px;
}
.alert {
	padding: 10px;
	margin-bottom: 5px;
}
.modal-error{
	background-color: red;
	color: #FFF;
}
.modal-error .modal-title {
	font-weight: bold;
}
.daterangepicker {
	border-radius: 0px;
}
.box-header {
	padding: 5px;
}
.box-body {
	padding: 5px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
    vertical-align: middle;
    border: none;
}
hr {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}